body {
    text-align: center;
    background-color: pink;
  }
  
nav {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
  }

a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }

h3 {
    color: white;
    text-align: center;
  }
img {
    width: 15%;
    display: block;
    margin: 0 auto;
  }
p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px
  }
footer {
    background-color: pink;
    color: white;
    text-align: center;
  }
.main-para {
    font-size: 2.5em;
    line-height: 1.2em;
    color: white;
}
#active {
  background-color: pink;
  color: white;
}
footer p {
  font-size: 20px;
  margin: 20px auto;
  color: black;
}

#active:hover {
  color: black;
}

#list {
  display:inline-block;
  text-align: left;
}